@charset "utf-8";

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.country-wrapper {
	position:absolute;
	width:450px;
	height:150px;
	top:40%;
	margin-top:-75px;
	left:40%;
	margin-left:-150px;
}
.address-wrapper {
	position:absolute;
	width:450px;
	height:150px;
	top:60%;
	margin-top:-75px;
	left:40%;
	margin-left:-150px;
}
h1{
	text-align:center;
}
.label{
	padding:5px 0px;
	text-align:center;
}
.input{
	width:400px;
	height:30px;
	outline:none;
	padding:0px 10px;
	margin:0px auto;
	display:block;
}
.autocomplete-list {
	position: absolute;
	z-index: 2;
	list-style-type: none;
	margin: 0 0 0 13px;
	padding: 0;
	overflow: auto;
}
.autocomplete-list li {
	color: #000000;
	padding: 10px 10px;
	height:10px;
	cursor: pointer;
	background: #f9f9f9;
	border-bottom: 1px solid #eeeeee;
	width:400px;
}
.autocomplete-list li:active,
.autocomplete-list li.active {
	color: #FFFFFF;
	background: #0099FF;
	width:400px;
}
.autocomplete-list li:hover {
	background: #c3c3c3;
}
.autocomplete-list:focus{
	outline:none;
}
