<!-- Developed by Haluk Ozduman, 2017-->

<!doctype html>
<html ng-app="autocompleteApp">
  <head>
    <title>Autocompletion Application</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body>
    <header>
      <h1>
        <span id="header">Autocompletion Application</span>
      </h1>
  	</header>

    <div ng-controller="mainCtrl">
      <div class="country-wrapper">
        <div class="label"><b>Search Countries</b></div>
        <div><input type="text" placeholder="Search for countries" class="input" ng-model="countryText" ng-keydown="controlCountryListWithKey($event)" ng-change="searchCountry()"/></div>
        <ul class="autocomplete-list">
          <li ng-repeat="address in countryList | limitTo:6 track by $index" ng-class="{active : selectedCountryIndex === $index}" ng-click="selectCountry($index)">{{address}}</li>
        </ul>
      </div>

      <div class="address-wrapper">
        <div class="label"><b>Search Addresses at your location</b></div>
        <div><input type="text" placeholder="Search for addresses" class="input" ng-model="addressText" ng-keydown="controlAddressListWithKey($event)" ng-change="searchAddress()"/></div>
        <ul class="autocomplete-list">
          <li ng-repeat="address in addressList | limitTo:6 track by $index | limitTo: 6" ng-class="{active : selectedAddressIndex === $index}" ng-click="selectAddress($index)">{{address}}</li>
        </ul>
      </div>
    </div>
  </body>
</html>
